<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Admin Panel</title>
    <span th:include="includes :: css"></span>
</head>
<body>
<div th:include="includes :: adminnav"></div>

<div class="container">
    <h3><i>Today is a great day for a great day!</i></h3>

    <h4>Client List</h4>
    <form action="/">
        <input type="text" placeholder="Search By Last Name"/>
        <input type="submit" value="Search"/>
    </form>
    <table>
        <thead>
        <tr>
            <th>First</th>
            <th>Last</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Username</th>
            <th>View Orders</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer : ${customers}">
            <td th:text="${customer.first}"></td>
            <td th:text="${customer.last}"></td>
            <td th:text="${customer.phone}"></td>
            <td th:text="${customer.email}"></td>
            <td th:text="${customer.address}"></td>
            <td th:text="${customer.city}"></td>
            <td th:text="${customer.state}"></td>
            <td th:text="${customer.zipCode}"></td>
            <td th:text="${customer.username}"></td>
            <td><a th:href="'/admin/clients/' + ${customer.id}">Orders</a></td>
        </tr>
        </tbody>
    </table>

    <h4>Add New User</h4>
    <form action="/admin/clients" method="post" th:object="${user}">
        <label for="first">First Name
            <input type="text" th:field="*{first}" id="first" placeholder="First Name"/>
        </label>

        <label for="last">Last Name
            <input type="text" th:field="*{last}" id="last" placeholder="Last Name"/>
        </label>

        <label for="username">Username
            <input type="text" th:field="*{username}" id="username" placeholder="Username"/>
        </label>

        <label for="password">Password
            <input type="password" th:field="*{password}" id="password" placeholder="Password"/>
        </label>

        <label for="email">Email
            <input type="email" th:field="*{email}" id="email" placeholder="Email"/>
        </label>

        <label for="address">Street Address
            <input type="text" th:field="*{address}" id="address" placeholder="Address"/>
        </label>

        <label for="city">City
            <input type="text" th:field="*{city}" id="city" placeholder="City"/>
        </label>

        <label for="state">State
            <select name="state" id="state" class="browser-default">
                <option value="">Select</option>
                <option th:each="state : ${states}" th:value="${state}" th:text="${state}"></option>
            </select>

        </label>

        <label for="zipCode">Postal Code
            <input type="text" th:field="*{zipCode}" id="zipCode" placeholder="Postal Code"/>
        </label>

        <label for="phone">Phone
            <input type="text" th:field="*{phone}" id="phone" placeholder="Phone"/>
        </label>

        <label for="role">Role
            <select name="role" id="role" class="browser-default">
                <option value="">Select</option>
                <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
            </select>
        </label>

        <input type="submit" value="Add"/>

    </form>


</div>



<span th:include="includes :: js"></span>

</body>
</html>