<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Admin Panel</title>
    <span th:include="includes :: css"></span>
</head>
<body>
<div th:include="includes :: adminnav"></div>

<div class="container">
    <h3><i>Today is a great day for a great day!</i></h3>

    <h4>Inventory Details</h4>
    <table>
        <thead>
        <tr>
            <th>Item</th>
            <th>Description</th>
            <th>On Hand</th>
            <th>Reserved for Order</th>
            <th>Cost</th>
            <th>Price to Reserve</th>
            <th>Supplier</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.productName}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.numberInStock}"></td>
            <td th:text="${product.reserved}"></td>
            <td th:text="${product.purchaseCost}"></td>
            <td th:text="${product.salePrice}"></td>
            <td th:inline="text"><a th:href="'/admin/suppliers/' + ${product.supplier.id}">[[${product.supplier.companyName}]]</a></td>
        </tr>
        </tbody>
    </table>


</div>



<span th:include="includes :: js"></span>

</body>
</html>