<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Shady Lady Rentals</title>
    <span th:fragment="css">
        <link rel="stylesheet" th:href="@{/webjars/materialize/0.98.2/dist/css/materialize.min.css}"/>
        <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}"/>
    </span>

</head>
<body>

    <div th:fragment="navbar">
        <nav class="pink darken-3">
            <div class="container nav-wrapper">
                <a th:href="@{/}" class="brand-logo"><span class="material-icons">beach_access</span>The Shady Lady Beach Rentals</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a th:href="@{/}">About Us</a></li>
                    <li><a th:href="@{/}">Check Availability</a></li>
                    <!--<li><form th:action="@{/logout}" method="post"><input class="btn-flat white-text" type="submit" value="Log Out"/></form></li>-->
                </ul>
            </div>
        </nav>
    </div>

    <div th:fragment="adminnav">
        <nav class="cyan lighten-1">
            <div class="container nav-wrapper">
                <a th:href="@{/admin}" class="brand-logo"><span class="material-icons">beach_access</span>The Shady Lady Admin Access</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a th:href="@{/admin/clients}">Client Details</a></li>
                    <li><a th:href="@{/admin}">Outstanding Orders</a></li>
                    <li><a th:href="@{/admin/inventory}">Inventory</a></li>
                    <!--<li><form th:action="@{/logout}" method="post"><input class="btn-flat white-text" type="submit" value="Log Out"/></form></li>-->
                </ul>
            </div>
        </nav>
    </div>


    <span th:fragment="js">
        <script type="text/javascript" th:src="@{/webjars/jquery.3.2.1/dist/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/webjars/materialize/0.98.2/dist/js/materialize.min.js}"></script>
    </span>
</body>
</html>