<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>The Shady Lady</title>
    <span th:include="includes :: css"></span>
</head>
<body>
    <div th:include="includes :: navbar"></div>

    <div class="container">
        <h1>Hello</h1>
        <h3>Weather</h3>
        <ul>
            <li th:inline="text">[[${firstWeather.name}]]: [[${firstWeather.temperature}]]ºF, Winds [[${firstWeather.windSpeed}]] [[${firstWeather.windDirection}]]. [[${firstWeather.shortForecast}]]</li>
            <li th:inline="text">[[${secondWeather.name}]]: [[${secondWeather.temperature}]]ºF, Winds [[${firstWeather.windSpeed}]] [[${firstWeather.windDirection}]]. [[${secondWeather.shortForecast}]]</li>
            <li th:inline="text">[[${thirdWeather.name}]]: [[${thirdWeather.temperature}]]ºF, Winds [[${thirdWeather.windSpeed}]] [[${thirdWeather.windDirection}]]. [[${thirdWeather.shortForecast}]]</li>
        </ul>
    </div>



    <span th:include="includes :: js"></span>

</body>
</html>