<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>The Shady Lady</title>
    <span th:include="includes :: css"></span>
</head>
<body>
    <div th:include="includes :: navbar"></div>

    <div class="container">
        <h1>Hello</h1>
        <h3>Weather</h3>
        <ul>
            <li th:text="${firstWeather}"></li>
            <li th:text="${secondWeather}"></li>
            <li th:text="${thirdWeather}"></li>
        </ul>
    </div>



    <span th:include="includes :: js"></span>

</body>
</html>